<a href="https://colab.research.google.com/github/ruiskaunokki/stepik/blob/main/6_9_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#!pip install pandas
import pandas as pd

In [2]:
df = pd.read_csv(r'https://stepik.org/media/attachments/lesson/345422/torg.csv', sep=';')
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,179,Штаны Полосатый Рейс,purple,NaN,L,99,29.06
1,181,Штаны Полосатый Рейс,purple,NaN,XL,100,29.06
2,182,Штаны Полосатый Рейс,purple,NaN,XS,100,29.06
3,183,Штаны Полосатый Рейс,purple,NaN,M,100,29.06
4,184,Штаны Полосатый Рейс,purple,NaN,S,100,29.06
...,...,...,...,...,...,...,...
270,639,Ремень Грубая Кожа,brown,NaN,L,100,10.39
271,641,Ремень Грубая Кожа,brown,NaN,XL,100,10.39
272,642,Ремень Грубая Кожа,brown,NaN,XS,100,10.39
273,643,Ремень Грубая Кожа,brown,NaN,M,100,10.39
274,644,Ремень Грубая Кожа,brown,NaN,S,100,10.39

In [3]:
df.groupby('IP_PROP32').sum().sort_values('CP_QUANTITY')

           IE_XML_ID  IP_PROP31  CP_QUANTITY  CR_PRICE_1_USD
IP_PROP32
M              17003        0.0         4198         1068.71
S              17047        0.0         4198         1068.71
XS             16959        0.0         4299         1068.71
L              16827        0.0         4397         1068.71
XL             16915        0.0         4399         1068.71