<a href="https://colab.research.google.com/github/ruiskaunokki/stepik/blob/main/6_9_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#!pip install pandas

In [3]:
import pandas as pd

In [11]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/dataset_345422_8 (5).txt', sep=';')
df

,IE_XML_ID,IE_NAME,IP_PROP30,IP_PROP31,IP_PROP32,CP_QUANTITY,CR_PRICE_1_USD
0,373,Футболка Женская Чистота,white,NaN,XS,100,10.89
1,246,Штаны Цветочная Поляна,green,NaN,L,100,31.97
2,596,Ремень Радуга,green,NaN,XL,100,5.67
3,562,Ремень Радуга,purple,NaN,XS,100,5.67
4,527,Туфли Ультра Лайн,jeans,39.0,NaN,100,40.69
...,...,...,...,...,...,...,...
195,481,Домашние Тапочки Любимый Спорт,brown,38.0,NaN,100,14.52
196,260,Платье Модница на Прогулке,blue,NaN,S,0,72.67
197,518,Туфли Полет Валькирии,blue,39.0,NaN,100,36.33
198,319,Нижнее белье Интимный Вечер,black,NaN,XS,100,17.43
199,286,Платье Красная Фея,red,NaN,M,99,58.13

In [12]:
df1 = df[['IP_PROP30', 'IP_PROP32', 'CP_QUANTITY', 'CR_PRICE_1_USD']]
px = df1.loc[df['IP_PROP30'] == 'pink']
px = px.loc[df['IP_PROP32'] == 'XL']
px

    IP_PROP30 IP_PROP32  CP_QUANTITY  CR_PRICE_1_USD
166      pink        XL          100            5.67

In [13]:
n = 0
for a in df.values:
  if a[2] == 'pink' and a[4] == 'XL':
    n += a[5] * a[6]
n

567.0